<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xktime.community.repository.ArticleRepository">
    <insert id="saveArticle" parameterType="Article">
        INSERT INTO article(title,content,author_account_id,post_time)
        VALUES (#{title},#{content},#{authorAccountId},#{postTime})
    </insert>

    <select id="findById" parameterType="int" resultType="Article">
        SELECT * FROM article WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Article">
        SELECT * FROM article ORDER BY post_time DESC
    </select>

    <select id="findByOffset" resultType="Article">
        SELECT * FROM article
        ORDER BY post_time DESC
        LIMIT #{pageShowNum} OFFSET #{pageStartIndex}
    </select>

    <select id="findByOffsetAndAccountId" resultType="Article">
        SELECT * FROM article WHERE author_account_id = #{accountId}
        ORDER BY post_time DESC
        LIMIT #{pageShowNum} OFFSET #{pageStartIndex}
    </select>

    <select id="findByAccountId" resultType="Article">
        SELECT * FROM article WHERE author_account_id = #{accountId} ORDER BY post_time DESC
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM article
    </select>

    <select id="getCountByAccountId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM article WHERE author_account_id = #{accountId}
    </select>

    <update id="incView" parameterType="int">
        UPDATE article SET view_count = view_count + 1 WHERE id = #{id}
    </update>
</mapper>