<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${article.getTitle()}"></title>
    <script src="/jquery-3.4.1/jquery-3.4.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <div class="row  main">
        <div class="col-xs-10 col-md-10">
            <div class="page-header">
                <h1 th:text="${article.getTitle()}"></h1>
            </div>
            <p><small th:text="${article.getContent()}"></small></p>
        </div>
        <div class="col-xs-2 col-md-2">
            <div class="thumbnail profile-photo">
                <img th:src="${article.getAuthor().getAvatarUrl()}" alt="用户头像" class="img-circle">
            </div>
        </div>
    </div>
</body>
</html>