<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${article.getTitle()}"></title>
    <script src="/jquery-3.4.1/jquery-3.4.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <div class="row  main">
        <div class="col-xs-10 col-md-10">
            <div class="page-header">
                <h1 th:text="${article.getTitle()}"></h1>
            </div>
            <p><small th:text="${article.getContent()}"></small></p>
        </div>
        <div class="col-xs-2 col-md-2">
            <div class="thumbnail profile-photo">
                <img th:src="${article.getAuthor().getAvatarUrl()}" alt="用户头像" class="img-circle">
            </div>
        </div>
    </div>
    <div class="container-fluid main">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="height:750px">
            <div class="media" th:each="comment : ${comments}">
                <div class="media-left">
                    <a th:href="@{/account/profile(id=${comment.getAuthor().getAccountId()})}">
                        <img class="media-object img-rounded"
                             th:src="${comment.getAuthor().getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <p th:text="${comment.getContent()}"></p>
                    <span th:text="${#dates.format(comment.getPostTime(),'yyyy-MM-dd HH:mm')}" ></span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        </div>
    </div>
    <nav class="side" aria-label="Page navigation" th:if="${pagination != null}">
        <ul class="pagination">
            <li th:if="${pagination.isShowFirstButton()}">
                <a th:href="@{/article/(page=1,id=${article.getId()})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${pagination.isShowPreviousButton()}">
                <a th:href="@{/article/(page=${pagination.getPageNum() - 1},id=${article.getId()})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page : ${#numbers.sequence(pagination.getFirstPageNum(), pagination.getLastPageNum())}" th:class="${pagination.getPageNum() == page}? 'active' : ''">
                <a th:href="@{/article/(page=${page},id=${article.getId()})}" th:text="${page}"></a>
            </li>

            <li th:if="${pagination.isShowNextButton()}">
                <a th:href="@{/article/(page=${pagination.getPageNum() +1 },id=${article.getId()})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${pagination.isShowLastButton()}">
                <a th:href="@{/article/(page=${pagination.getPageCount()},id=${article.getId()})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid main">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <form action="/article/comment" method="post">
                <div class="form-group" id="question-editor">
                    <label for="content">评论:</label>
                    <textarea name="content" id="content" style="resize:none;"
                              placeholder="编辑内容"
                              class="form-control"
                              cols="30"
                              rows="10"></textarea>
                    <input type="hidden" name="id" id="id" th:value="${article.getId()}">
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish ">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        </div>
    </div>
</body>
</html>