<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>XKCommunity</title>
    <script src="/jquery-3.4.1/jquery-3.4.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <div th:insert="~{articles :: articles}"></div>
    <nav class="side" aria-label="Page navigation" th:if="${pagination != null && pagination.getLastPageNum() != 1}">
        <ul class="pagination">
            <li th:if="${pagination.isShowFirstButton()}">
                <a th:href="@{/(page=1)}" aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${pagination.isShowPreviousButton()}">
                <a th:href="@{/(page=${pagination.getPageNum() - 1})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page : ${#numbers.sequence(pagination.getFirstPageNum(), pagination.getLastPageNum())}" th:class="${pagination.getPageNum() == page}? 'active' : ''">
                <a th:href="@{/(page=${page})}" th:text="${page}"></a>
            </li>

            <li th:if="${pagination.isShowNextButton()}">
                <a th:href="@{/(page=${pagination.getPageNum() +1 })}"
                   aria-label="Previous">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${pagination.isShowLastButton()}">
                <a th:href="@{/(page=${pagination.getPageCount()})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>